<!DOCTYPE html>
<html>
<head>
	<title>About Iris Project</title>
</head>
<style>
      body {font-family: Arial, Helvetica, sans-serif;}
</style>

<body>
	<center>

	<h1>About this Project</h1>
	<p>This is perhaps the best-known example in the field of machine learning.

The aim is to classify iris flowers among three species (setosa, versicolor, or virginica) from measurements of sepals and petals' length and width.

The iris data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.

The central goal here is to design a model that makes useful classifications for new flowers or, in other words, one which exhibits good generalization.</p>
<p>In this project i have used the pure mathmatical approach, for more info. you can download the project from my <a href="https://github.com/arrowav36"> github link </a>. There are many other approaches to make this project, to know more details and description of the project or to get more material on the project like project report, .py files for the other approaches you can mail me on <strong>arrowav36@gmail.com.</strong></p>

	</center>
</body>
</html>